
/* Body of the content */

body  {

    background-color:grey;
    background-image: url(../images/escheresque/escheresque_ste/escheresque_ste.png);
    color:white;
}

h1 {
    background-color: grey;
    margin-left: 275px;
    font-size: 28px;
    width: 294px;
    height: 40px;
    font-size: 22px;
   

}

/* Navigation bar */

.navbar {
    background-image: url(../images/headers/olivegreentoblack.jpg);
    position: sticky;
    height:110px;
}


/* navigation bar */
.navbar {
    word-spacing: 20%;
    margin-bottom:20px;
}

.contentArea {
   
    
    

}

/* text for the portfolio shiba cards */

.shiba-text {
    z-index:1;
    color:black;

}

/* My name on the top */
.nicholasLoperena {
    margin: 30px;
    margin-top: 28px;
    padding-bottom: 110px;
    margin-left: 450px;
    text-align:center;
    font-size:20px;
}

/* added a content area */
.container {
    background-color: grey;
    width:100%;
    height: auto;
    margin-top: 30px;
    

}

.card-shiba {
    width:100px;
    height:100px;

}

/* class for columns  */
div.col-4 {
 margin-top:43px;

}

/* Shiba logo on the upper left hand corner */

#shibaIcon {
    margin-top: 38px;
    top: 89px;
    height: 35px;
    width: 35px;
    margin-left: -121%;
}

/* My personal pic */ 
#me {
    max-width: 245px;
    height: 210px;
    border: 2px;
    border-color: #2b8000;
    border-style: solid;
    width: 210px;
    margin: 30px;
    top: -25px;
    position: relative;
    margin-right: 30px;
}

#contentContainer {
    width:960px;
    height: 600px;
}

#contactContainer {
    width:960px;
    height: 355px;
}

#nameProperties {
    margin: -32px;
    font-size: 25px;
}